:root {
    /* --primary-color: #3ac5c9; */
    /* --primary-color: #d0011b; */
    --primary-color: #D0011B;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --boder-color: #DBDBDB;
    --star-color: #FFCE3E;
    --navbar-height: 34px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2 {
    /*padding-left: 5px;*/
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-2-4 {
    padding: 0 5px;
    width: 20%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*  Animation này khi ta hover vào đăng ký, đăng nhập, nó sẽ to dần form đăng ký lên */
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
/*  Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    z-index: 1000;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/*  Body của modal được căn giữa
    .modal display: flex
    margin: auto

    Do overlay và body cùng cấp. Để body nổi lên trên thì ta dùng Z-Index = 1;

    Chưa cần phải set kích thước, lúc nào có nội dung nó tự động set.
*/
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/*  button style */
.btn {
    background-color: var(--white-color);
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    font-size: 1.2rem;
    height: 30px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
   cursor: default;
    color: #ccc;
    background-color: #888;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/*  Pagination */
.pagination {
    padding: 50px 0 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item {
    font-size: 2rem;
    margin-right: 20px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #fc3f54;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    color: var(--black-color);
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
}

.pagination-item__icon {
    /*font-size: 1.2rem;*/
}

/* Footer */
.footer {
    border-top: 2px solid var(--primary-color);
}

.footer__info {
    height: 360px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.6rem;
    margin-top: 48px;
}

.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer__list-item {
    font-size: 1.4rem;
    margin-top: 6px;
}

.footer__list-item:hover .footer__list-item-link {
    color: var(--primary-color);
}

.footer__list-item-link {
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    align-items: center;
}

.footer__list-payment {
    display: flex;
    flex-wrap: wrap;
}

.footer__list-payment-item {
    /*flex: 1 0 21%;*/
    padding-right: 20px;
}

.footer__list-payment-item-img {
    width: 86px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#visa {
    padding: 10px;
}

.footer__list-item-icon {
    font-size: 1.8rem;
    color: #737373;
    margin-right: 8px;
}

.download-wrap {
    width: 240px;
    display: flex;
}

.footer__qrcode-img {
    width: 80px;
    height: 80px;
}

.footer__download-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
}

.footer__download-app-img {
    width: 122px;
    height: 32px;
    margin: 4px 0;
}

/*.footer__policy-link {*/
/*    display: block;*/
/*    text-align: left;*/
/*}*/

.footer__policy-img-wrap {
    margin-left: -14px;
}

.footer__policy-img {
    height: 48px;
}











