:root {
    --primary-color: #D0011B;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --boder-color: #DBDBDB;
    --star-color: #FFCE3E;
    --navbar-height: 34px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__col-2-4 {
    padding: 0 5px;
    width: 20%;
}

/*  button style */
.btn {
    background-color: var(--white-color);
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    font-size: 1.2rem;
    height: 30px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
   cursor: default;
    color: #ccc;
    background-color: #888;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/*  Pagination */
.pagination {
    padding: 40px 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item {
    font-size: 2rem;
    margin-right: 20px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #fc3f54;
}

.pagination-item__link {
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    color: var(--black-color);
    text-align: center;
}

/* Footer */
.footer {
    border-top: 2px solid var(--primary-color);
}

.footer__info {
    height: 360px;
    background-color: var(--white-color);
}

.footer__heading {
    margin-top: 48px;
    font-size: 1.6rem;
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer__list-item {
    margin-top: 6px;
    font-size: 1.4rem;
}

.footer__list-item:hover .footer__list-item-link {
    color: var(--primary-color);
}

.footer__list-item-link {
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    align-items: center;
}

.footer__list-payment {
    display: flex;
    flex-wrap: wrap;
}

.footer__list-payment-item {
    padding-right: 20px;
} 

.download-wrap {
    width: 240px;
    display: flex;
}

.footer__qrcode-img {
    width: 80px;
    height: 80px;
}

.footer__download-app {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__download-app-img {
    width: 122px;
    height: 32px;
    margin: 4px 0;
}

.footer__policy-img-wrap {
    margin-left: -14px;
}

.footer__policy-img {
    height: 48px;
}